<link rel="stylesheet" href="/assets/css/button-create-threads.css">
<div class="button position-fixed text-center d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus mx-auto"></i>  
            </div>
<script src="/assets/js/button-create-threads.js"></script>