<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign up</title>
        <link rel="icon" href="./assets/image/logo.jpeg">
        <link rel="icon" href="./assets/image/logo.jpeg">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
        <link rel="stylesheet" href="/assets/css/reset.css"> 
        <link rel="stylesheet" href="/assets/css/base.css"> 
        <link rel="stylesheet" href="/assets/css/forgot.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="picture">
                <source srcset="https://static.cdninstagram.com/rsrc.php/yD/r/eIJhnL1FtGH.webp" type="image/webp" />
                <img
                    src="https://static.cdninstagram.com/rsrc.php/yD/r/eIJhnL1FtGH.webp"
                    alt height="510" width="1785"
                />
            </div>
            <div class="forgot">
                
                <form action="/forgot" method="post" id="resetPasswordForm">
                    <span class="forgot-head">
                        Bạn gặp sự cố khi đăng nhập?
                    </span>
                    <br>
                    <span class="forgot-sub-title">
                        Nhập email của bạn và chúng tôi sẽ gửi cho bạn một email để truy cập lại vào tài khoản.
                    </span>                    
                    <input type="email" id="email" name="email" placeholder="Email" class="email-user" required>
                    <p id="message" style="color: red; display: none;"></p>
                    <button type="submit" class="submit">Gửi liên kết đăng nhập</button>

                    <a href="/" target="_self" class="already">Bạn đã có tài khoản?</a>
                </form>
            </div>
        </div>
        <script src="/assets/js/forgot.js"></script>
    </body>

</html>
