
/* Search */
.search {
    width: 680px;
}
.search .container .header {
    height: 40px;
}
.search .container .section-search {
    border: 1px solid #2D2D2D ; 
    background-color: var(--color-bg-status);
    border-radius: 20px;
}
.search .container .section-search .search-box {
    height: 73px;
    padding: 18px 24px 4px;
}

.search .container .section-search .search-box .container-search-box {
    border: 1px solid #383939;
    border-radius: 20px;
    padding: 10px 8px;
    background: #0A0A0A;
}
.search .container .section-search .search-box .container-search-box i {
    width: 32px;
    height: 32px;
    padding: 8px;
    color: #616161;
}
.search .container .section-search .search-box .container-search-box input {
    color: #616161;
    border: none;
    outline: none;
    background: #0A0A0A;
}

.search .container .section-search .follow-sugg {
    height: 43px;
    padding: 16px 24px 6px;
}
.search .container .section-search .follow-sugg span {
    color: #777777;
}

.search .container .container-post {
    height: 100px;
    padding: 16px 0px 0px 24px;
}
.search .container .header .inner-bars {
    width: 48px;
    height: 48px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    i {
        color: var(--color-icons)
    }
}

.search .container .container-post .inner-content {
    height: auto;
    border-bottom: 1px solid #383939;
    padding: 0px 24px 0px 0px;
}
.search .container .container-post .inner-image {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.search .container .container-post .inner-content .inner-name a {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.search .container .container-post .inner-content .inner-name .sub-name {
    color: #777777;
}
.search .container .container-post .inner-content .inner-follow {
    width: 104px;
    height: 34px;
    border: 1px solid #383939;
    border-radius: 8px;
    cursor: pointer;
}
.search .container .container-post .inner-content .inner-fler {
    margin-top: 12px;
}

.btn-following {
    color: #707070;
}
@media (max-width: 700px) {
    .search .container .header .inner-content span {
        display: none !important ;
        
    }
    .search .container .header .inner-content .inner-logo {
        display: flex !important ;
        width: 76px;
        height: 76px;
        padding: 15px 0;
    }
    .search .container .header .inner-content .inner-logo .bi-threads {
        color: #FFF;
        width: 32px;
        height: 32px;
    }
    .search .container .header {
        position: fixed !important;
        height: 60px;
        top: 0;
        left: 0;
        background: #0A0A0A;
        z-index: 10;
        .inner-bars-mobile {
            display: flex !important;
            top: 15px;
            right: 15px;
            width: 48px;
            height: 48px;
            color: var(--color-icons);
            font-size: 24px;
        }
    }
    .search {
        width: 100% !important;
        margin: 0;
        margin-top: 60px !important;
        z-index: 5;
    }
    .search .container {
        padding: 0 ;
        margin: 0;
        max-width: 100%;
    }
    .search .container .header .inner-bars {
        display: flex !important;
    }
}
/* End Sreach */
