/* Taskbar */
.homepage .inner-taskbar {
    height: 100vh;
    width: 76px;
    background: var(--color-bg);
    top: 0;
    left: 0;
    padding: 5px;
} 

.inner-taskbar .inner-logo {
    width: 76px;
    height: 76px;
    padding: 15px 0;
}
.inner-taskbar .inner-logo .bi-threads {
    color: #FFF;
    width: 32px;
    height: 32px;
}

.inner-taskbar .inner-menu div {
    height: 60px;
    align-content: center;
    margin: 5px 0;
    padding: 10px 0px;
}
.inner-taskbar .inner-menu div i {
    color: var(--color-icons);
    font-size: 24px;
}
.inner-taskbar .inner-menu .inner-plus::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    right: 0; 
    bottom: 5px; 
    /* background: transparent;  */
    background: #171717;
    border-radius: 10px; 
    z-index: -1; 
}

.homepage .inner-taskbar .inner-link div {
    height: 60px;
    align-content: center;
    margin: 5px 0;
}

.homepage .inner-taskbar .inner-link  i {
    color: var(--color-icons);
    font-size: 24px;
}

.hover-1 {
    position: relative; 
    overflow: hidden;
    transition: all 0.3s ease;
}

.hover-1:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    background: #171717;
    border-radius: 10px;
    z-index: -1; 
    /* transition: all 0.3s ease;  */
}

div.hover-2:hover i {
    color: #FFF !important;
}
@media (max-width: 700px) {
    .container-fluid {
        padding: 0 !important ;
    }
    .homepage {
        flex-direction: column;
    }
    .homepage .inner-taskbar .inner-link {
        display: none !important;
    }
    .homepage .inner-taskbar .inner-logo {
        display: none !important;
    }
    .container-fluid .homepage .inner-taskbar { 
        position: fixed !important;
        bottom: 0 !important;
        top: unset;
        width: 100% !important;
        height: 70px !important; 
        background: var(--color-bg) !important; 
        z-index: 10 !important;
    }
    .homepage .inner-taskbar .inner-menu {
        flex-direction: row !important;
    }
}
/* End  Taskbar */

/* Inner-bars show  */
.inner-bars-show {
    width: 240px;
    height: 293px;
    background: #181818;
    border: 1px solid #2D2D2D;
    border-radius: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: none;
    z-index: 10;
}
.inner-bars-show.active {
    display: flex; 
}
.inner-bars-show .container-fluid .inner-bars-top {
    flex: 3;
    padding: 10px;
    border-bottom: 1px solid #2D2D2D ;
}

.inner-bars-show .container-fluid .inner-bars-bottom {
    flex: 2;
    padding: 10px;
}

.inner-bars-show .container-fluid .inner-bars-top div, .inner-bars-show .container-fluid .inner-bars-bottom div {
    flex: 1;
    font-weight: 500;
    padding-left: 10px;
    cursor: pointer;
    z-index: 1;
} 

.inner-bars-show .container-fluid .inner-bars-bottom .log-out {
    color: red;
}

.inner-bars-show .hover-1:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    background: #212121;
    border-radius: 10px;
    z-index: -1; 
}
@media (max-width: 700px) {
    .inner-bars-show {
        bottom: unset;
        left: unset;
        top: 60px;
        right: 5px;
    }
}
/* End Inner-bars show */

/* Inner pin show */
.inner-pin-show {
    width: 388px;
    height: 535px;
    background: #181818;
    border: 1px solid #2D2D2D;
    border-radius: 16px;
    position: absolute;
    bottom: 120px;
    left: 20px;
    z-index: 10;
    display: none;
}
.inner-pin-show .container-fluid div{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    font-weight: 500;
    padding: 12px
}
.inner-pin-show .container-fluid .header div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.inner-pin-show .container-fluid .form {
    padding: 0px 16px 4px;
}

.inner-pin-show .container-fluid .form .container-form {
    background: #0A0A0A;
    border: 1px solid #2D2D2D;
    border-radius: 16px;
    padding: 8px;
    input {
        color : #777777;
        font-weight: normal;
        background: #0A0A0A;
        outline: none;
        border: none;
        margin-left: 10px;
    }
}
.inner-pin-show.active {
    display: flex; 
}
.inner-pin-show .hover-1 {
    cursor: pointer;
}
.inner-pin-show .hover-1:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    background: #212121;
    border-radius: 10px;
    z-index: -1; 
}
/* End Inner pin show */